<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../css/cartsidebar.css">
    <style>
      input[type="text"],select, textarea {
        width: auto;
        border: 1px solid #555;
}
    </style>
    
</head>

<body>
  <div class="header">
<div>
    <div  style="background-color: black;" class="row-1">
      <div class="container">
        <div class="announcement">

          <p class="white">Free Delivery & Assembly in Cairo & Giza</p>

        </div></div>
      </div>
    <div class="header-y">
        <div class="row-2y">
            <div class="container-y">
                <div class="announcement-y">

                  <p class="black">Summer Sale Discount <strong class="strong1"><span id="largestOffer"></span>% off </strong></span><a class="shop-now" href="/product/clientproduct"
                    title="All Products">Shop Now</a></p>
                </div>
            </div>
        </div>
        <div class="container-1y">
            <div class="row-3y">
                <div class="col-1y">
                    <div class="col-11y">
                        <a href="/"><img class="im" style="padding: 0 5px;" src="../images/logo.png" alt="FRNTR"
                                width="85px" height="95px"></a>
                    </div>
                </div>
                <div class="col-2y">
                    <div class="col-22y">
                        <nav class="nav1y">
                            
                        </nav>
                    </div>
                </div>
                <div class="col-3y">
                    <div class="col-33y">
                        <nav class="nav11y">

                            <ul>
                                
                              <button class="side-btn"  onclick="accOpen()"><i class="material-icons">person</i></button>
                                
                              </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="sidebar-1" class="sidebary-1">

<div class="insidesidebar">
  <div class="title1">
      <span id="log">LOGIN</span>
      <button class="side-btn1"><i class="material-icons" onclick="signclose()">close</i></button>
  </div>
 
</div>
<div class="sign">
      <form name="sign-in" action="/auth/login" method="post" onsubmit="return validate1(this)">
          <input id="ema1" type="email" class="elementss" name="email" placeholder="Email" >
          
          <div id="em1" class="err1"></div>
          <input id="pas1"style="margin-top: 10px; margin-bottom: 5px;" type="password" class="elementss" name="pass" placeholder="Password">
          <div id="passwor" class="err1"></div>
          <span class="forgot"><button class="forgot1" name="forgotpassword" onclick="openforgotsidebar()">Forgot your password?</button></span><br>
          <input class="sub" type="submit" value="Sign In"><br>
          <a href="/auth/signup" class="forgot">New customer? Create your account</a>
      </form>
  </div>
</div>
<div id="sidebar-2" class="sidebary-1">

    <div class="insidesidebar">
      <div class="title1">
          <span id="log">SEARCH OUR SITE</span>
          <button class="side-btn2"><i class="material-icons" onclick="searchclose()">close</i></button>
      </div>
     
    </div>
    <div class="sign">
          <form name="search" action="#" method="get" id="search12">
              
              <div id="con11">
              <input id="search1"style="margin-top: 10px; margin-bottom: 5px;" type="text" class="element1" name="search1" placeholder="Search">
              <button class="material-icons" id="mi1">search</button>
              </div>
              <div style="margin-top: 20px; margin-bottom: 30px;"></div>
            
          </form>
      </div>
    </div>
<div id="forgotsidebar" class="sidebary-1">

  <div class="insidesidebar">
    <div class="firstline1">
        <span id="log">RESET PASSWORD</span>
        <button class="side-btn1" id="btnfor"><i class="material-icons" onclick="forgotclose()">close</i></button>
    </div>
  </div>

<div class="sign">
  <div>  <p id="p11">Lost your password? Please enter your email address.
     You will receive a link to create a new password via email.</p></div>

  <form name="sign-in" action="#" method="get" onsubmit="return validate1(this)">
      <input id="ema1" type="email" class="elementss" name="email" placeholder="Email Address" required >
      <div id="em1" class="err1"></div>
      <input class="sub" type="submit" value="Reset Password"><br>
      <a class="forgot" onclick="backtosidebar()">Cancel</a>
  </form>
</div>
</div>

      <script type="text/javascript"  src="/js/handler.js"></script>
      <script type="text/javascript"  src="/js/validations.js"></script>
      <script type="text/javascript"  src="/js/admin.js"></script>
      <script type="text/javascript"  src="/js/ajax-offer.js"></script>

</body>

</html>