<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="./css/cartsidebar.css">
    <style>
      input[type="text"],select, textarea {
        width: auto;
        border: 1px solid #555;
}
    </style>
</head>

<body>

    <div class="header-y">
        <div class="row-2y">
            <div class="container-y">
                <div class="announcement-y">

                    <p class="black">Winter Sale Discount <strong class="strong1">40%</strong> off <a class="shop-now"
                            href="#" title="All Products">Shop Now</a></p>
                </div>
            </div>
        </div>
        <div class="container-1y">
            <div class="row-3y">
                <div class="col-1y">
                    <div class="col-11y">
                        <a href="/"><img class="im" style="padding: 0 5px;" src="../images/logo.png" alt="FRNTR"
                                width="85px" height="95px"></a>
                    </div>
                </div>
                <div class="col-2y">
                    <div class="col-22y">
                        <nav class="nav1y">
                            <button class="dropbtn"><a class="anor" href="#">Furniture</a>
                                <div class="content-y">
                                    <a class="anor" href="#">Sofas</a>
                                    <a class="anor" href="#">Beds</a>
                                    <a class="anor" href="#">Arm chairs</a>
                                    <a class="anor" href="#">Chaise Lounges</a>
                                    <a class="anor" href="#">Ottmans & Benches</a>
                                    <a class="anor" href="#">outdoor Furniture</a>
                                    <a class="anor" href="#">Living Room Sets</a>
                                    <a class="anor" href="#">Space Friendly</a>
                                    <a class="anor" href="#">Kids Furniture</a>
                                    <a class="anor" href="#">Bean Bags</a>
                                    <a class="anor" href="#">Pets Furniture</a>
                                </div>
                                <button class="dropbtn"><a class="anor" href="#">Storage & Display</a>
                                    <div class="content-y">
                                        <a class="anor" href="#">Dressers</a>
                                        <a class="anor" href="#">TV Units</a>
                                        <a class="anor" href="#">Consoles</a>
                                        <a class="anor" href="#">Make-up-Vanity</a>
                                    </div>
                                </button>
                                <button class="dropbtn"><a class="anor" href="#">Tables</a>
                                    <div class="content-y">
                                        <a class="anor" href="#">Night Tables</a>
                                        <a class="anor" href="#">Coffee Tables</a>
                                        <a class="anor" href="#">Stands</a>
                                        <a class="anor" href="#">Night Stands</a>
                                    </div>
                                </button>
                                <button class="dropbtn"><a class="anor" href="#">Walls Nation Moods</a>
                                    <div class="content-y">
                                        <a class="anor" href="#">Modern</a>
                                        <a class="anor" href="#">Boho</a>
                                    </div>
                                </button>
                        </nav>
                    </div>
                </div>
                <div class="col-3y">
                    <div class="col-33y">
                        <nav class="nav11y">

                            <ul>
                                <button class="side-btn" onclick="searchOpen()"><i class="material-icons">search</i></button>
                                <button class="side-btn"  onclick="signOpen()"><i class="material-icons">person</i></button> 
                                <a href="/User/wishlist"><button class="side-btn" onclick=><i class="material-icons">favorite</i></button></a>
                                <button class="side-btn" onclick="cartOpen()"><i class="material-icons">shopping_cart</i></button>
                              </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div id="sidebar-1" class="sidebary-1">

<div class="insidesidebar">
  <div class="title1">
      <span id="log">LOGIN</span>
      <button class="side-btn1"><i class="material-icons" onclick="signclose()">close</i></button>
  </div>
 
</div>
<div class="sign">
      <form name="sign-in" action="/auth/login" method="post" onsubmit="return validate1(this)">
          <input id="ema1" type="email" class="elementss" name="email" placeholder="Email" >
          
          <div id="em1" class="err1"></div>
          <input id="pas1"style="margin-top: 10px; margin-bottom: 5px;" type="password" class="elementss" name="pass" placeholder="Password">
          <div id="passwor" class="err1"></div>
          <span class="forgot"><button class="forgot1" name="forgotpassword" onclick="openforgotsidebar()">Forgot your password?</button></span><br>
          <input class="sub" type="submit" value="Sign In"><br>
          <a href="/auth/signup" class="forgot">New customer? Create your account</a>
      </form>
  </div>
</div>
<div id="sidebar-2" class="sidebary-1">

    <div class="insidesidebar">
      <div class="title1">
          <span id="log">SEARCH OUR SITE</span>
          <button class="side-btn2"><i class="material-icons" onclick="searchclose()">close</i></button>
      </div>
     
    </div>
    <div class="sign">
          <form name="search" action="#" method="get" id="search12">
              
              <div id="con11">
              <input id="search1"style="margin-top: 10px; margin-bottom: 5px;" type="text" class="element1" name="search1" placeholder="Search">
              <button class="material-icons" id="mi1">search</button>
              </div>
              <div style="margin-top: 20px; margin-bottom: 30px;"></div>
            
          </form>
      </div>
    </div>
<div id="forgotsidebar" class="sidebary-1">

  <div class="insidesidebar">
    <div class="firstline1">
        <span id="log">RESET PASSWORD</span>
        <button class="side-btn1" id="btnfor"><i class="material-icons" onclick="forgotclose()">close</i></button>
    </div>
  </div>

<div class="sign">
  <div>  <p id="p11">Lost your password? Please enter your email address.
     You will receive a link to create a new password via email.</p></div>

  <form name="sign-in" action="#" method="get" onsubmit="return validate1(this)">
      <input id="ema1" type="email" class="elementss" name="email" placeholder="Email Address" required >
      <div id="em1" class="err1"></div>
      <input class="sub" type="submit" value="Reset Password"><br>
      <a class="forgot" onclick="backtosidebar()">Cancel</a>
  </form>
</div>
</div>

<div id="cartsidebar">


  <div id="insidecart">
    <div id="firstline">
      <span id = "cartName">Shopping Cart</span>
        <button id ="CloseButton" onclick="cartClose()"><span class="material-icons">close</span></button>
        
    </div>

    <div id="listOfItems">
      <div id = "checkoutItem">
        <div id = "imageOfItem">
          <img src="../images/AcadiaChaise.webp" width="140px" height="140px">
        </div>
        <div id="itemDetails">
          <p id="itemName">Acadia Chaise Lounge / 183 x 83 CM Velvet Upholstery</p>
          <p id="itemAttributes">Velvet Mondo (V901-17)</p> <br>
          <div id="priceContainer"><span id="priceBeforeSale">8,870</span> <span id="priceAfterSale"> 5,390</span></div><br>
          <div id="buttonsContainer">
            <button class="material-symbols-outlined" id="trashBar" onclick="removeItemCart()">delete</button><span id = "totalAmountBar" >1</span><button class="material-symbols-outlined" id="plusBar" onclick="addItemCart()">add</button>
          </div>
          <div>
            <span>Delete item: </span><button class="material-symbols-outlined" id="trashBarDelete">delete</button>
          </div>
          
        </div>

        
      </div>
      <div class="checkoutSidebarBottom">
        <div class="addOrderStuff">
          <input type="text" placeholder="Add order note" id="addNote"><br>
          <input type="text" placeholder="Add coupon code" id="addCoupon">
        </div>
        <div class="subtotalContainer">
          <span id="subtotalMessage">Subtotal:</span><span id="subtotalPrice">5,390 EGP</span>
        </div>
      
        <div class="acceptTermsContainer">
          <span style="float: left;">
            <input type="checkbox" id="checkboxid"><span id="agreewithterms">I agree with the terms and conditions.</span>
          </span>
        </div>
        <div class="viewandcheckcontainer">
          <button id="viewcart">
            <a href="/User/cart">View Cart</a>
          </button>
          <button id="checkout">
            Checkout
          </button>
        </div>
      </div>
      </div>
      </div>
    </div>
      <script type="text/javascript"  src="/js/handler.js"></script>
      <script type="text/javascript"  src="/js/validations.js"></script>
      <script type="text/javascript"  src="/js/admin.js"></script>
  
</body>

</html>