<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <style>
  df-messenger {
   --df-messenger-bot-message: #363635d5;
   --df-messenger-button-titlebar-color: #363635d5;
   --df-messenger-chat-background-color: #fafafa;
   --df-messenger-font-color: white;
   --df-messenger-send-icon:#363635;
   --df-messenger-user-message: #8f8e8e;
  }
</style>
   
  </head>
  <body>


  <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>

  <df-messenger
    intent="WELCOME"
    chat-title="FRNTR"
    agent-id="dc2cb33c-d133-4d66-819f-90102af7268c"
    language-code="en"
    chat-icon="https://drive.google.com/uc?export=download&id=1QyX4BQOcsvs34wmwZ5xIOSzRJUSvMDo_"></df-messenger>
</div>
<div class="df-messenger-wrapper">
  <button id="widgetIcon" aria-label="Open Chat">
    <img class="df-chat-icon" src="https://drive.google.com/uc?export=download&amp;id=1QyX4BQOcsvs34wmwZ5xIOSzRJU…" alt="Chat Icon">
  </button>
</div>
  </body>
</html>
