<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href=".../css/style.css" />
   
  </head>
  <body>
 
        <div
          style="
            margin-top: 90%;
            position: sticky;
            width: 93%;
            margin-left: 10px;
          "
          class="form-cont"
        >
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
        <df-messenger
          intent="WELCOME"
          chat-title="FRNTR"
          agent-id="7f25c3f2-6159-433a-9a7d-3db6037b2eb2"
          language-code="en"
        ></df-messenger>
        </div>
      </form>
    </div>
  </body>
</html>
<script src="../js/validations.js"></script>