<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/coffee.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/edit-fade.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/css.gg@2.0.0/icons/css/maximize.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <link rel="stylesheet" href="/css/categories.css" />

    <style>
      .material-symbols-outlined {
        font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
      }
    </style>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/cartsidebar.css" />
    <title>FRNTR</title>
    <link rel="icon" type="image/x-icon" href="Images/logo.png" />
  </head>
  <body>
    
  </body>
  <footer>
    <div class="main">
        <div class="contact1">
          <h3>Reach Out 24/7</h3>
          <p><i class="fa fa-map-marker"></i>Madinty, 63th Settlment,Cairo, Egypt </p>
          <p><i class="fa fa-solid fa-envelope"></i><span>customercare@FRNTR.eg</span></p>
          <p><i class="fa fa-solid fa-phone"></i><span>+20 1111 043430</span></p>
        </div>
        <div class="customers">
          <h3>Customers & Partnerships Service</h3>
          <ul>
            <li><a href="#">Search</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Customer Reviews</a></li>
            <li><a href="#">Refund & Returns Policy</a></li>
            <li><a href="#">Service,Delivery & Warranty</a></li>
            <li><a href="#">Intellectual Property & Publicity Right</a></li>
            <li><a href="#">Terms of Service</a></li>
            <li><a href="#">Privacy Policy</a></li>
  
          </ul>
        </div>
        <div class="category">
          <h3>Categories</h3>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Furniture</a></li>
            <li><a href="#">Storage Furniture</a></li>
            <li><a href="#">Tables</a></li>
            <li><a href="#">Explore All</a></li>
          </ul>
  
          <div class="Follow-Us">
            <h3>Follow Us</h3>
            <div class="icon-row">
              <div class="button">
                <div class="icon">
                  <a href="https://www.facebook.com" target="_blank"> <i class="fab fa-facebook-f"></i></a>
                  <span class="tooltiptext">Follow on Facebook</span>
                </div>
              </div>
  
  
              <div class="button">
                <div class="icon">
                  <a href="https://www.instagram.com" target="_blank"> <i class="fab fa-instagram"></i></a>
                  <span class="tooltiptext">Follow on Instagram</span>
                </div>
              </div>
  
              <div class="button">
                <div class="icon">
                  <a href="https://www.linkedin.com" target="_blank"> <i class="fab fa-linkedin"></i></a>
                  <span class="tooltiptext">Follow on Linkedin</span>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <div class="signup">
          <h3>Newsletter Signup</h3>
          <p>Subscribe to our newsletter and get 400 EGP off your first purchase</p>
          <div class="form">
            <div class="form-cont">
  
              <div class="inputt">
                <input type="text" class="email-input" name="email" placeholder="type your email address">
              </div>
  
              <div class="btn-sub">
                <button type="submit" class="button-style">Subscribe</button>
              </div>
            </div>
          </div>
          <div class="line">
            <a><img
                src="https://advanced-payment-icons.kalis.no/shop/walls-nation-egy.myshopify.com/icon/icon_001tb14i3tr0qui/icon_001tb14i3tr0qui_colored_4x_48x30.png"
                alt="VISA" class="image"></a>
  
            <a><img
                src="https://advanced-payment-icons.kalis.no/shop/walls-nation-egy.myshopify.com/icon/icon_011tb14i3tr2i89/icon_011tb14i3tr2i89_colored_4x_48x30.png"
                alt="Mastercard" class="image"></a>
  
            <a><img
                src="https://advanced-payment-icons.kalis.no/shop/walls-nation-egy.myshopify.com/icon/icon_031tb14i71f0dlc/icon_031tb14i71f0dlc_colored_4x_48x30.png"
                alt="VaLU" class="image"></a>
  
            <a><img
                src="https://advanced-payment-icons.kalis.no/shop/walls-nation-egy.myshopify.com/icon/icon_041tb14i7qqgfs0/icon_041tb14i7qqgfs0_colored_4x_48x30.png"
                alt="Sympl" class="image"></a>
            <a><img
                src="https://advanced-payment-icons.kalis.no/shop/walls-nation-egy.myshopify.com/icon/icon_056d8ijmr2ftn6/icon_056d8ijmr2ftn6_colored_4x_48x30.png"
                alt="" class="image"></a>
          </div>
        </div>
      </div>
  
  
      <div class="copyright">
        Copyright © 2023 FRNTR all rights reserved.
      </div>
  
  
  
  
    </div>
    <script type="text/javascript" src="./JS/handler.js"></script>
  </footer>
</html>
