<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/pagination.css" />
</head>
<body>


    <div class="paginationContainer">
        <div class="pagination">
            <button class="pag_btn1" onclick="backBtn()"> <img src="../images/448-arrow.png" alt=""> prev</button>

            <ul class="paginationUl">
                <li class="page_link active" value="1" onclick="activeLink()">1</li>
                <li class="page_link" value="2"onclick="activeLink()">2</li>
                <li class="page_link" value="3"onclick="activeLink()">3</li>
                <li class="page_link" value="4"onclick="activeLink()">4</li>
                <li class="page_link" value="5"onclick="activeLink()">5</li>
                <li class="page_link" value="6"onclick="activeLink()">6</li>
            </ul>
            <button class="pag_btn2"  onclick="nextBtn()">next<img src="../images/448-arrow.png" alt=""></button>
        </div>
    </div>


    <script>

        let link = document.getElementsByClassName("page_link");
        let currentValue = 1;

        function activeLink(){
            for(l of link){
                l.classList.remove("active");
            }
            event.target.classList.add("active");
            currentValue = event.target.value;
        }


        function backBtn(){
            if(currentValue > 1){
                for(l of link){
                    l.classList.remove("active");
                }
                currentValue--;
                link[currentValue-1].classList.add("active");
            }
        }

        function nextBtn(){
            if(currentValue < 6){
                for(l of link){
                    l.classList.remove("active");
                }
                currentValue++;
                link[currentValue-1].classList.add("active");
            }
        }

    </script>
    
</body>
</html>