<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="../css/cart.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs")%> <% let imagePath = "../images/"; %>
    <div class="signup1">
      <p class="sign1">Shopping cart</p>
    </div>
    <div class="emptyCartContainer">
      <i class="material-icons" id="emptyCart">production_quantity_limits</i>
      <div id="yourCart">YOUR CART IS EMPTY.</div>
      <div>
        Before proceed to checkout you must add some product to your shopping
        cart
      </div>
      <div>You will find a lot of interesting products on our "Shop" page.</div>
      <a href="index"><button id="returnButton">RETURN TO SHOP</button></a>
    </div>
    <div class="fullCartContainer">
      <div class="listOfItems">
        <% product.forEach((products) => { %>
        <div class="itemContainer">
          <div class="itemTopContainer">
            <span class="imageSpan">
              <img src="<%= imagePath %>smallchair.webp" />
            </span>

            <div class="firstSentence">
              <%products.productName%>
            </div>
            <br />
            <div class="color">Color: <span class="theColor">Black</span></div>
            <span
              class="material-symbols-outlined"
              style="margin-top: 2%; margin-right: 1%; cursor: pointer"
            >
              edit_square
            </span>
            <span
              class="material-symbols-outlined"
              class="trash"
              style="cursor: pointer"
            >
              delete
            </span>
          </div>
          <hr style="opacity: 0.5" />
          <div class="itemBottomContainer">
            <span id="pricePlusDiscount"><%products.price%></span>
            <span class="addOrRemove"
              ><span class="addRemoveContainer"
                ><button
                  class="material-symbols-outlined"
                  id="trash"
                  onclick="removeItem()"
                >
                  delete</button
                ><span id="totalAmount">1</span
                ><button
                  class="material-symbols-outlined"
                  id="plus"
                  onclick="addItem()"
                >
                  add
                </button></span
              ></span
            >
            <span id="finalPrice">
              <span id="totalItemPrice">10,000</span> EGP</span
            >
          </div>
        </div>
        <% }); %>
      </div>
      <div class="checkoutContainer">
        <div class="leftSideOfCheck">
          <div style="font-weight: bold">Add Order Note</div>
          <textarea
            id="howCanWeHelp"
            placeholder="How can we help you?"
          ></textarea>
          <div style="font-weight: bold">Coupon:</div>
          <div style="margin-bottom: 10px">
            Coupon code will work on checkout page
          </div>
          <input type="text" id="couponcode" placeholder="Coupon code" />
        </div>
        <div class="rightSideOfCheck">
          <div id="subtotal">
            SUBTOTAL: <span id="subtotalNum">10,000</span> EGP
          </div>
          <div id="checkoutButtonContainer">
            <button id="checkoutButton">
              <span id="checkout">Check Out</span>
              <span class="material-symbols-outlined" id="arrowicon">
                arrow_forward</span
              >
            </button>
          </div>
        </div>
      </div>
    </div>
    <%- include("./partials/chat.ejs")%> <%- include("./partials/footer.ejs")%>

    
  </body>
</html>
