<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" contentContainer="IE=edge">
  <meta name="viewport" contentContainer="width=device-width, initial-scale=1.0">
  <title>FRNTR</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/coffee.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/edit-fade.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/arrow-left-o.css' rel='stylesheet'>
  <link href='https://unpkg.com/css.gg@2.0.0/icons/css/maximize.css' rel='stylesheet'>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <link rel="stylesheet" href="../css/categories.css" />

  <style>
    .material-symbols-outlined {
      font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }

    .row{
      display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    }
  </style>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/cartsidebar.css">
  <link rel="stylesheet" href="../css/categories.css" />
  <link rel="stylesheet" href="../css/furniture.css" />
  <link rel="stylesheet" href="../css/cartsidebar.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/itempage.css">
  <!-- Font Awesome Icon Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./partials/nav.ejs")%>
    <div style="text-align: center;" data-mce-fragment="1" data-mce-style="text-align: center;">
    <div class="mainPicFarrah">
      <img class="sofaMainFarrah" src="../images/Image1.webp">
    </div>

  </div>

  <%- include("./partials/filter.ejs")%>
  <div class="moreproducts">
    <div class="innerprod">
      <div class="top-header">
        <h3 class="title">

        </h3>
      </div>
      <div class="viewproduct">
        <div class="row">
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span>


                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa fa-arrow-up-right-from-square"></i></a>
                    <span class="tooltiptext">Compare</span>
                  </div>

                </div>

              </div>
              <div class="Content">
                <h3 class="product-title">
                  Leonie Design Sofa / 125 x 94 CM Linen Upholstery
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in">7,920.00 EGP</ins>
              </div>
            </div>
          </div>



          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="../images/TriviaSofa_1.webp" alt="" class="pic-1">
                  <img src="../images/TriviaSofa_4.webp" alt="" class="pic-2">
                </a>
                <span class="discount">-18%</span>

                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa fa-arrow-up-right-from-square"></i></a>
                    <span class="tooltiptext">Compare</span>
                  </div>

                </div>



              </div>
              <div class="Content">
                <h3 class="product-title">
                  Trivia Sofa / 154 x 82 CM 2S
                </h3>
                <del>9,960.00 EGP</del>
                <ins class="in">8,140.00 EGP</ins>
              </div>

            </div>
          </div>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span>

                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa fa-arrow-up-right-from-square"></i></a>
                    <span class="tooltiptext">Compare</span>
                  </div>

                </div>

              </div>
              <div class="Content">
                <h3 class="product-title">
                  Leonie Design Sofa / 125 x 94 CM Linen Upholstery
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in">7,920.00 EGP</ins>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span>


                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa fa-arrow-up-right-from-square"></i></a>
                    <span class="tooltiptext">Compare</span>
                  </div>

                </div>

              </div>
              <div class="Content">
                <h3 class="product-title">
                  Leonie Design Sofa / 125 x 94 CM Linen Upholstery
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in">7,920.00 EGP</ins>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span>


                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa fa-arrow-up-right-from-square"></i></a>
                    <span class="tooltiptext">Compare</span>
                  </div>

                </div>

              </div>
              <div class="Content">
                <h3 class="product-title">
                  Leonie Design Sofa / 125 x 94 CM Linen Upholstery
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in">7,920.00 EGP</ins>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span>


                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa fa-arrow-up-right-from-square"></i></a>
                    <span class="tooltiptext">Compare</span>
                  </div>

                </div>

              </div>
              <div class="Content">
                <h3 class="product-title">
                  Leonie Design Sofa / 125 x 94 CM Linen Upholstery
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in">7,920.00 EGP</ins>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span>


                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa fa-arrow-up-right-from-square"></i></a>
                    <span class="tooltiptext">Compare</span>
                  </div>

                </div>

              </div>
              <div class="Content">
                <h3 class="product-title">
                  Leonie Design Sofa / 125 x 94 CM Linen Upholstery
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in">7,920.00 EGP</ins>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="products">
              <div class="product-image">
                <a href="" class="images">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_3.jpg" alt="" class="pic-1">
                  <img src="../images/Bilski_50_22_Square_Arm_Loveseat_4.jpg" alt="" class="pic-2">
                </a>
                <span class="discount">-26%</span>


                <div class="links">
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-heart"></i></a>
                    <span class="tooltiptext">Add to WishList</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa-regular fa-eye"></i></a>
                    <span class="tooltiptext">Quick view</span>
                  </div>
                  <div class="Icon">
                    <a href=""><i class="fa fa-arrow-up-right-from-square"></i></a>
                    <span class="tooltiptext">Compare</span>
                  </div>

                </div>

              </div>
              <div class="Content">
                <h3 class="product-title">
                  Leonie Design Sofa / 125 x 94 CM Linen Upholstery
                </h3>
                <del>10,680.00 EGP</del>
                <ins class="in">7,920.00 EGP</ins>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="gallery">

    <div class="contentContainer">
      <a href="/product/itempage"><img class="productImage" src="../images/pic1.webp" alt="">
        <h3 class="sofa">Beige Sofa</h3>
        <p class="description">Dijon Chesterfield 2S. Sofa/Majlis Linen Upholstery </p>

        <h6>$100.00</h6>
        <ul class="rating">>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star"></i></li>
          <li> <i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
    </div>

    <div class="contentContainer">
      <a href="/product/itempage"><img class="productImage" src="../images/pic2.jpeg" alt="">
        <h3 class="sofa">Grey Sofa</h3>
        <p class="description">Leonie Design Sofa / 125 x 94 CM Linen Upholstery. </p>

        <h6>$56.00</h6>
        <ul class="rating">>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
    </div>



    <div class="contentContainer">
      <a href="/product/itempage"><img class="productImage" src="../images/pic3.webp" alt="">
        <h3 class="sofa">Pink Sofa Sofa</h3>
        <p class="description">Dijon Chesterfield 2S. Sofa/Majlis Linen Upholstery </p>

        <h6>$100.00</h6>
        <ul class="rating">>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star"></i></li>
          <li> <i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
    </div>


    <div class="contentContainer">
      <a href="/product/itempage"><img class="productImage" src="../images/pic4.webp" alt="">
        <h3 class="sofa">Green Sofa</h3>
        <p class="description">Akira 2S. Sofa / Jade Finish 140 L x 65 D CM</p>

        <h6>$400.00</h6>
        <ul class="rating">>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
    </div>


    <div class="contentContainer">
      <a href="/product/itempage"><img class="productImage" src="../images/pic1.webp" alt="">
        <h3 class="sofa">Beige Sofa</h3>
        <p class="description">Dijon Chesterfield 2S. Sofa/Majlis Linen Upholstery </p>

        <h6>$100.00</h6>
        <ul class="rating">>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star"></i></li>
          <li> <i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
    </div>



    <div class="contentContainer">
      <a href="/product/itempage"><img class="productImage" src="../images/pic1.webp" alt="">
        <h3 class="sofa">Beige Sofa</h3>
        <p class="description">Dijon Chesterfield 2S. Sofa/Majlis Linen Upholstery </p>

        <h6>$100.00</h6>
        <ul class="rating">>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star"></i></li>
          <li> <i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
    </div>




    <div class="contentContainer">
      <a href="/product/itempage"><img class="productImage" src="../images/pic1.webp" alt="">
        <h3 class="sofa">Beige Sofa</h3>
        <p class="description">Dijon Chesterfield 2S. Sofa/Majlis Linen Upholstery </p>

        <h6>$100.00</h6>
        <ul class="rating">>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star"></i></li>
          <li> <i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
    </div>






    <div class="contentContainer">
      <a href="/product/itempage"><img class="productImage" src="../images/pic1.webp" alt="">
        <h3 class="sofa">Beige Sofa</h3>
        <p class="description">Dijon Chesterfield 2S. Sofa/Majlis Linen Upholstery </p>

        <h6>$100.00</h6>
        <ul class="rating">>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star checked"></i></li>
          <li> <i class="fa fa-star"></i></li>
          <li> <i class="fa fa-star"></i></li>
        </ul>
        <button class="buy-1">Buy Now</button>
    </div> -->
    <%- include("./partials/chat.ejs")%>
    <%- include("./partials/footer.ejs")%>
</body>
</html>