<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/admin.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        .sidebar a {
            display: block;
            color: black;
            padding: 16px;
            text-decoration: none;
        }

        div.contenty {
            margin-left: 200px;
            padding: 1px 16px;
            height: 1000px;
        }

        @media screen and (max-width: 700px) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

            .sidebar a {
                float: left;
            }

            div.contenty {
                margin-left: 0;
                padding: 0;
            }
        }

        @media screen and(max-width: 1400) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

            .sidebar a {
                float: left;
            }

            div.contenty {
                margin-left: 0;
                /* padding: 0; */
            }
        }


        @media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }

        .material-symbols-outlined {

            font-variation-settings:
                'FILL' 0,
                'wght' 400,
                'GRAD' 0,
                'opsz' 48
        }

        .sidebar a.products {
            background-color: black;
            color: white;
        }

        .sidebar a:hover:not(.products) {
            background-color: #555;
            color: white;
        }
    </style>
    <title>Admin Products</title>
</head>
<body>
    <%- include("./partials/adminsidebar.ejs")%>
    <div class="contenty">
        <%- include("./partials/adminnav.ejs")%>
        <div class="sideCon">
            
            <div class="header">

                <h2>All Store Products</h2>
            </div>
            <div class="gallery">
                <div class="row">
                    <div class="content">
                        <div class="product-image">
                           
                            <img src="../Images/Yerevan_11.webp"  class="pic-1" style="width:100%">
                            <img src="../Images/Yerevan_10.webp" class="pic-2" 
                                style="width:100%">
                             
                                <div class="link">
                                    <div class="Icon">
                                        <a href="products/addproduct"><i class="fa-solid fa-plus"></i></a>
                                        <span class="tooltiptext">Add Product</span></div>
                                    <div class="Icon">
                                        <a href="products/DeleteProduct"><i class="fa-solid fa-trash"></i></a>
                                        <span class="tooltiptext">Delete Product</span></div>
                                    <div class="Icon">
                                        <a href="products/ProductEdit"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <span class="tooltiptext">Edit Product</span></div>
                                </div>
                        </div>
                        <div class="container">
                            <h4><b>Malia Vanity Stool Chair</b></h4>
                            <p>Hover function</p>
                        </div>
                 
                </div>
                <div class="content">
                    <div class="product-image">
                       
                        <img src="../Images/malia_5.webp"  class="pic-1" style="width:100%">
                        <img src="../Images/malia_3.webp" class="pic-2" 
                            style="width:100%">
                         
                            <div class="link">
                                <div class="Icon">
                                    <a href="products/addproduct"><i class="fa-solid fa-plus"></i></a>
                                    <span class="tooltiptext">Add Product</span></div>
                                <div class="Icon">
                                    <a href="products/DeleteProduct"><i class="fa-solid fa-trash"></i></a>
                                    <span class="tooltiptext">Delete Product</span></div>
                                <div class="Icon">
                                    <a href="products/ProductEdit"><i class="fa-solid fa-pen-to-square"></i></a>
                                    <span class="tooltiptext">Edit Product</span></div>
                            </div>
                    </div>
                    <div class="container">
                        <h4><b>Malia Vanity Stool Chair</b></h4>
                        <p>Hover function</p>
                    </div>
             
            </div>
            <div class="content">
                <div class="product-image">
                   
                    <img src="../Images/NylaBabyBlue2.webp"  class="pic-1" style="width:100%">
                    <img src="../Images/NylaBabyBlue3.webp" class="pic-2" 
                        style="width:100%">
                     
                        <div class="link">
                            <div class="Icon">
                                <a href="products/addproduct"><i class="fa-solid fa-plus"></i></a>
                                <span class="tooltiptext">Add Product</span></div>
                            <div class="Icon">
                                <a href="products/DeleteProduct"><i class="fa-solid fa-trash"></i></a>
                                <span class="tooltiptext">Delete Product</span></div>
                            <div class="Icon">
                                <a href="products/ProductEdit"><i class="fa-solid fa-pen-to-square"></i></a>
                                <span class="tooltiptext">Edit Product</span></div>
                        </div>
                </div>
                <div class="container">
                    <h4><b>Malia Vanity Stool Chair</b></h4>
                    <p>Hover function</p>
                </div>
         
        </div>
        <div class="content">
            <div class="product-image">
               
                <img src="../Images/Corinne_25.6_Wide_Wingback_Chair.webp"  class="pic-1" style="width:100%">
                <img src="../Images/Corinne_25.6_Wide_Wingback_Chair_11.jpg" class="pic-2" 
                    style="width:100%">
                 
                    <div class="link">
                        <div class="Icon">
                            <a href="products/addproduct"><i class="fa-solid fa-plus"></i></a>
                            <span class="tooltiptext">Add Product</span></div>
                        <div class="Icon">
                            <a href="products/DeleteProduct"><i class="fa-solid fa-trash"></i></a>
                            <span class="tooltiptext">Delete Product</span></div>
                        <div class="Icon">
                            <a href="products/ProductEdit"><i class="fa-solid fa-pen-to-square"></i></a>
                            <span class="tooltiptext">Edit Product</span></div>
                    </div>
            </div>
            <div class="container">
                <h4><b>Malia Vanity Stool Chair</b></h4>
                <p>Hover function</p>
            </div>
     
    </div>
    <div class="content">
        <div class="product-image">
           
            <img src="../Images/Corinne_25.6_Wide_Wingback_Chair.webp"  class="pic-1" style="width:100%">
            <img src="../Images/Corinne_25.6_Wide_Wingback_Chair_11.jpg" class="pic-2" 
                style="width:100%">
             
                <div class="link">
                    <div class="Icon">
                        <a href="products/addproduct"><i class="fa-solid fa-plus"></i></a>
                        <span class="tooltiptext">Add Product</span></div>
                    <div class="Icon">
                        <a href="products/DeleteProduct"><i class="fa-solid fa-trash"></i></a>
                        <span class="tooltiptext">Delete Product</span></div>
                    <div class="Icon">
                        <a href="products/ProductEdit"><i class="fa-solid fa-pen-to-square"></i></a>
                        <span class="tooltiptext">Edit Product</span></div>
                </div>
        </div>
        <div class="container">
            <h4><b>Malia Vanity Stool Chair</b></h4>
            <p>Hover function</p>
        </div>
 
</div>

                </div>
            </div>

        </div>
    </div>
</body>
</html>